@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  

:root {
   --background-color: #ffe8d6;
   --secondary-color: #cb997e;
   --accent-color: #6b705c;
   font-family: Playfair Display;
}

body {
   background-color: var(--secondary-color);
}

.sociallinks a {
    text-decoration: none;
}

header {
}

h1,h2 {
    font-family: Bradley Hand;
    text-align: center;
    background-color: var(--accent-color);
    border-style: dotted ;
    border: 2px dotted black;
    color: white;
    padding: 10px;
}

h1 {
    margin-top: 20px;
}

article {
    margin: 20px auto;
    max-width: 800px;
}

article img {
    float: right;
}

main {
    background-color: #cb997e;
}

div.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    text-align: center
}